.list {
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-style: italic;
}
.listItem {
  display: flex;
}
/* .listItem::before {
  content: '❂';
  color: rgba(20, 156, 197, 0.829);
  margin-right: 2px;
} */

.deleteBtn {
  margin-left: 15px;
  max-width: 65px;
  height: 25px;
  cursor: pointer;
}
.deleteBtn:hover {
  background-color: rgb(209, 49, 49);
}
.itemName {
  width: 300px;
  margin: 0;
}
.itemName:not(:last-child) {
  margin-bottom: 15px;
}
